/*Collor codes: #6b9080, #a4c3b2, #cce3de, #eaf4f4, #f6fff8*/

body {
    background-color: #6b9080;
}

h1 {
    color: #cce3de;
    text-align: center;
}

#lastUpdate {
    color: #eaf4f4;
    text-align: center;
}

#moneyGame {
    background-color: #a4c3b2;
}